<div th:fragment="categories">
<div class="category">
  <div class="bg-dark card-body">
    <h1 class="text-center" style="color:white"><strong>Categories:</strong></h1>
    <br>
    <h2  class="text-center" style="color:black"><strong>AGD</strong></h2>
    <br>
    <h2  class="text-center" style="color:black"><strong>RTV</strong></h2>
    <br>
    <h2  class="text-center" style="color:black"><strong>CAR</strong></h2>
    <br>
    <h2  class="text-center" style="color:black"><strong>CLOTHES</strong></h2>
    <br>
    <h2  class="text-center" style="color:black"><strong>TOLLS</strong></h2>
    <br>
    <h2  class="text-center" style="color:black"><strong>TOY</strong></h2>
    <br>
    <h2  class="text-center" style="color:black"><strong>APARTMENT</strong></h2>
    <br>
    <h2  class="text-center" style="color:black"><strong>RENT</strong></h2>
    <br>
    <h2  class="text-center" style="color:black"><strong>HARDWARE</strong></h2>
    <br>
    <h2  class="text-center" style="color:black"><strong>GAME</strong></h2>
    <br>
    <h2  class="text-center" style="color:black"><strong>FOR FREE</strong></h2>
    <br>
    <h2  class="text-center" style="color:black"><strong>HOBBY</strong></h2>
  </div>
</div>
</div>