.container
{
margin-top:100px;
}
.newarrival{
background:green;
width:50px;
color:white;
font-size:12px;
font-weight:bold;
}
.col-md-7 h2{
color:#555;
}
.price{
color:#FE980F;
font-size:26px;
font-weight:bold;
padding-top: 20px
}
input{
border:1px solid #ccc;
font-weight:bold;
height: 33px;
text-align:center;
width:30px;
}
.addProduct{
    background: #FE980F;
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 20px;
}
.description{
    font-size: 25px;
    margin-left: -550px;
    height: 10px;
    text-align:center;
    width:1000px;
}

