<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online-Shop</title>
        <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>

 <div th:replace="/fragments/topnav :: navbar-presentation">

 </div>
<h1  style="color: white;" >.</h1>
<div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container text-center">
            <h1></h1>
            <h1 style="color:red;"><b>HardWare</b></h1>
            <h1></h1>
        </div>
    </nav>
</div>
<h1 style="color:white;">..</h1>
<div class="row">
    <h1 style="color:white;">...</h1>
    <div class="screen" >
        <img   src="img/screen.jpg" width="350px" height="350px">
        <div class="set">
            <p class="display"><b>Monitor</b></p>
        </div>
    </div>
    <h1 style="color:white;">...</h1>
    <div class="loudspeakers">
        <img src="img/loudspeakers.jpg" width="350px" height="300px">
        <div class="set">
            <p class="display"><b>LoudSpeakers</b></p>
        </div>
    </div>
    <h1 style="color:white;">...</h1>
    <div class="podkladka">
        <img src="img/podkladka.jpg" width="350px" height="300px">
        <div class="set">
            <p class="display"><b>Pad</b></p>
        </div>
    </div>
    <h1 style="color:white;">...</h1>
    <div class="mouse">
        <img src="img/mouse.jpg" width="350px" height="300px">
        <div class="set">
            <p class="display"><b>Mouse</b></p>
        </div>
    </div>
    <h1 style="color:white;">...</h1>
    <div class="keyboard">
        <img src="img/keyboard.jpg" width="350px" height="350px">
        <div class="set">
            <p class="display"><b>Keyboard</b></p>
        </div>
    </div>
</div>
<h1 style="color:white;">....</h1>
<div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container text-center">
            <h1></h1>
            <h1 style="color:red;"><b>RTV And AGD</b></h1>
            <h1></h1>
        </div>
    </nav>
</div>
<h1 style="color:white;">..</h1>
<div class="row">
    <h1 style="color:white;">...</h1>
    <div class="TV" >
        <img   src="img/TV.jpg" width="350px" height="300px">
        <div class="set">
            <p class="display"><b>TV</b></p>
        </div>
    </div>
    <h1 style="color:white;">...</h1>
    <div class="Radio">
        <img src="img/Radio.jpg" width="350px" height="300px">
        <div class="set">
            <p class="display"><b>Radio</b></p>
        </div>
    </div>
    <h1 style="color:white;">...</h1>
    <div class="microwave">
        <img src="img/microwave.jpg" width="350px" height="300px">
        <div class="set">
            <p class="display"><b>Microwave</b></p>
        </div>
    </div>
    <h1 style="color:white;">...</h1>
    <div class="Fridge">
        <img src="img/Fridge.jpg" width="350px" height="300px">
        <div class="set">
            <p class="display"><b>Fridge</b></p>
        </div>
    </div>
    <h1 style="color:white;">...</h1>
    <div class="gasStove">
        <img src="img/gasstove.jpg" width="350px" height="300px">
        <div class="set">
            <p class="display"><b>Gas Stove</b></p>
        </div>
    </div>
</div>
<h1 style="color:white;">...</h1>
<div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container text-center">
            <h1></h1>
            <h1 style="color:red;"><b>Fashion And Clothing</b></h1>
            <h1></h1>
        </div>
    </nav>
</div>
<h1 style="color:white;">..</h1>
<div class="row">
    <h1 style="color:white;">...</h1>
    <div class="cap" >
        <img   src="img/cap.jpg" width="350px" height="300px">
        <div class="set">
            <p class="display"><b>Cap</b></p>
        </div>
    </div>
    <h1 style="color:white;">...</h1>
    <div class="hoodie">
        <img src="img/hoodie.png" width="350px" height="300px">
        <div class="set">
            <p class="display"><b>Hoodie</b></p>
        </div>
    </div>
    <h1 style="color:white;">...</h1>
    <div class="jacket">
        <img src="img/jacket.jpg" width="350px" height="300px">
        <div class="set">
            <p class="display"><b>Jacket</b></p>
        </div>
    </div>
    <h1 style="color:white;">...</h1>
    <div class="pants">
        <img src="img/pants.jpg" width="350px" height="300px">
        <div class="set">
            <p class="display"><b>Pants</b></p>
        </div>
    </div>
    <h1 style="color:white;">...</h1>
    <div class="T-Shirt">
        <img src="img/T-Shirt.jpg" width="350px" height="300px">
        <div class="set">
            <p class="display"><b>T-Shirt</b></p>
        </div>
    </div>
</div>
<h1 style="color:white;">...</h1>
<div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container text-center">
            <h1></h1>
            <h1 style="color:white;"><b>And So Much More Products Register By Gain  Access To All Products In Our Shop!!</b></h1>
            <h1></h1>
        </div>
    </nav>
</div>
  </body>
</html>